@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>Welcome to the chat application</p>
    <br />
    <p>You need to login in order to use the app. Please register for an account if you don't have one.</p>
    <br />
    <p>Use the "Chat" link on the header to use the chat application.</p>
    <br />
    <p>Thank you.</p>
</div>
